body {
    padding-top: 70px;
    padding-bottom: 6px;
}

/* region sticky footer */

html,
body, #app, #app-container {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -44px;
    /* Pad bottom by footer height (with padding) */
    padding: 0 0 44px;
}

footer {
    height: 44px;
}

footer p {
    margin-top: 10px;
}

/* end region sticky footer */


/* region navigation */

.navbar-inverse {
    background-color: #1f80e3;
    border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1F94FC;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-link {
    color: #b3d9ff;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-nav > .active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background: none;
}

/* end region navigation */


/* region brew phases */

.progress-bar-inactive {
    background-color: #e0e0e0;
}

.progress-bar-inactive2 {
    background-color: #cccccc;
}

/* end region brew phases */

.panel.panel-actual-brew .panel-footer {
    background-color: #fff;
}

.designer .panel.phases .panel-footer {
    background-color: #fff;
}

.designer .panel.panel-info.phases .panel-footer {
    border-color: #bce8f1;
}
