<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brewfactory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/"/>

    <!-- build:css(src) styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbuild -->

    <link rel="stylesheet" href="/styles/main.css">

</head>
<body>

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div id="app"></div>

<script defer src="/scripts/client.js"></script>

</body>
</html>
