<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brewfactory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/"/>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbuild -->

    <!-- build:js scripts/vendor.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <!-- endbuild -->

    <link rel="stylesheet" href="/styles/main.css">

</head>
<body>

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div id="app">
    <%- html %>
</div>

<!-- State from the server -->
<script>
    <%- state %>
</script>


<script defer src="/scripts/client.js"></script>

</body>
</html>
